*.aux
condaenvs/
config.py
cv.html
*.fdb_latexmk
*.fls
*.out
privatekey.json
public
__pycache__/
.RData
.Rhistory
.Rproj.user
.Ruserdata
static/data/*.rds
static/data/WFD*
static/node_modules/
static/package-lock.json

static/pdf/*.gz
static/pdf/*.log
static/pdf/*.json

static/rmarkdown-libs/
temp
test*
.vscode/

/.quarto/

content/blog/2022-12-26-are-r-project-dependencies-getting-more-numerous-over-time/data
