*.aux
condaenvs/
config.py
cv.html
*.fdb_latexmk
*.fls
*.out
privatekey.json
/public/
/resources/
__pycache__/
.RData
.Rhistory
.Rproj.user
.Ruserdata
static/data/*.rds
static/data/WFD*
static/node_modules/
static/package-lock.json

static/pdf/*.gz
static/pdf/*.log
static/pdf/*.json

static/rmarkdown-libs/
temp
test*
.vscode/

/.quarto/
