*.aux
*.fdb_latexmk
*.fls
*.out
.RData
.Rhistory
.Rprofile
.Rproj.user
.Ruserdata
.vscode/
/.quarto/
/public/
/resources/
__pycache__/
condaenvs/
config.py
content
cv.html
privatekey.json
static/blog
static/data
static/data/*.rds
static/data/WFD*
static/images
static/node_modules/
static/package-lock.json
static/pdf/*.gz
static/pdf/*.json
static/pdf/*.log
static/pdf/*.pdf
static/rmarkdown-libs/
temp
test*
