<link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/2ffbe812ca.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/academicons.css" media="all">
{{ if lt (.Date.Year) 2018 }}
<script>
  (function (u, c) {
    var d = document, t = 'script', o = d.createElement(t), s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(e); }); }
    s.parentNode.insertBefore(o, s);
  })('//cdn.bootcss.com/pangu/3.3.0/pangu.min.js', function () {
    pangu.spacingPage();
  });
</script>
{{ end }}